<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    {{!-- CSS --}} 
    {{!--<link rel="stylesheet" href="./app/css/reset" /> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script src="scripts/inputcontrol.js"></script>

    <title>Timid Task Tracker</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="#">Timid Task Tracker</a>
    </nav>

    <div class="container mt-3">
        <div class="jumbotron">
            <form action="/" method="POST">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Add Task</button>
                    </span>
                    <input type="text" class="form-control" name="task" placeholder="New Task">
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        {{{ body }}}
    </div>

    <footer class="navbar fixed-bottom navbar-light bg-light justify-content-center">
        <a class="navbar-brand" href="#">home</a>
    </footer>

</body>

</html>